@use "./base.scss";

/* 페이지 타이틀 */
.article-title {
  color: #53a19c;
}

/* 페이지 기본 텍스트, 헤더123 */
article {
  font-size: 1rem;
}
article h1 {
  font-size: 1.6rem;
}
article h2 {
  font-size: 1.5rem;
}
article h3 {
  font-size: 1.2rem;
}
:root[saved-theme="dark"] article h1, article h2, article h3 {
  color: #8fb8b6;
}
